<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <form action="" method="post" enctype="multipart/form-data">
            <label for="">Kanalname:</label>
            <input type="text" name="name">

            <label for="">Hintergrundmusik:</label>
            <input type="file" name="music">

            <label for="">Hintergrundbild:</label>
            <input type="file" name="image">

            <label for="">Erlaubte Benutzer (Separieren mit Komma):</label>
            <input type="text" name="allowed-users">

            <input type="submit" value="Erstellen">
        </form>
    </body>
</html>
