<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/common.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf-8">
            var socket = io();
            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
            });
        </script>
    </head>
    <body>
        <div id="main-container">
            <div id="header"> <a href="/settings">Settings</a></div>
            <div id="content-wrapper">
                <div id="chats">{{ available }}</div>
                <div id="main-panel-bg">
                    <div id="main-panel">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

