<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/common.css">
    </head>
    <body>
        <h1>LOGIN SEITE</h1>
        <p>
            <form action="" method="POST" enctype="multipart/formdata">
                <label>Username</label>
                <input type="text" name="username">
                <label>Password</label>
                <input type="password" name="password">
                <input type="submit">
                <p>{{error}}</p>
            </form>
        </p>
    </body>
</html>
