<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/common.css">
    </head>
    <body>
        <h1>Registrierungs SEITE</h1>
        <p>
            <form>
                <label>Username</label>
                <input type="text" name="username">
                <label>Password</label>
                <input type="text" name="password">
                <label>Check Password</label>
                <input type="text" name="password_check">
                <input type="submit">
                <p id="errormsg">{{error}}</p>
            </form>
        </p>
    </body>
</html>