<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/common.css">
    </head>
    <body>
        <h1>Settings</h1>
        <p>
            <h2>Change Password</h2>
            <form action="" method="POST" enctype="multipart/formdata">
                <label>Password</label>
                <input type="password" name="password">
                <label>Check Password</label>
                <input type="password" name="password_check">
                <input type="submit">
                <p id="errormsg">{{error}}</p>
            </form>
        </p>
        <hr>
        <p>
            <h2>Sprites</h2>
            <form action="" method="POST" enctype="multipart/formdata">
                <!--TODO-->
            </form>
        </p>
    </body>
</html>