<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/common.css">
    </head>
    <body>
        <h1>Settings</h1>
        <p>
            <h2>Change Password</h2>
            <form action="settings/change_password" method="POST" enctype="multipart/formdata">
                <label>Password</label>
                <input type="password" name="password">
                <label>Check Password</label>
                <input type="password" name="password_check">
                <input type="submit">
                <p id="errormsg">{{error}}</p>
            </form>
        </p>
        <hr>
        <p>
            <h2>Sprites</h2>
            <form action="/settings/change_img" method="POST" enctype="multipart/formdata">
                <label>/j</label><br>
                <input type="file" name="img_j"><br>
                <label>/hj</label><br>
                <input type="file" name="img_hj"><br>
                <label>/bj</label><br>
                <input type="file" name="img_bj"><br>
                <label>/js</label><br>
                <input type="file" name="img_js"><br>
                <label>/s</label><br>
                <input type="file" name="img_s"><br>
                <label>/srs</label><br>
                <input type="file" name="img_srs"><br>
                <label>/nsrs</label><br>
                <input type="file" name="img_nsrs"><br>
                <label>/lh</label><br>
                <input type="file" name="img_lh"><br>
                <label>/hlh</label><br>
                <input type="file" name="img_hlh"><br>
                <label>/gen</label><br>
                <input type="file" name="img_gen"><br>
                <label>/i</label><br>
                <input type="file" name="img_i"><br>
                <label>/ui</label><br>
                <input type="file" name="img_ui"><br>
                <label>/vu</label><br>
                <input type="file" name="img_vu"><br>
                <label>/ij</label><br>
                <input type="file" name="img_ij"><br>
                <label>/ref</label><br>
                <input type="file" name="img_ref"><br>
                <label>/t</label><br>
                <input type="file" name="img_t"><br>
                <label>/nm</label><br>
                <input type="file" name="img_nm"><br>
                <label>/lu</label><br>
                <input type="file" name="img_lu"><br>
                <label>/nf</label><br>
                <input type="file" name="img_nf"><br>
                <label>/nbh</label><br>
                <input type="file" name="img_nbh"><br>
                <label>/nsb</label><br>
                <input type="file" name="img_nsb"><br>
                <label>/nay</label><br>
                <input type="file" name="img_nay"><br>
                <label>/ay</label><br>
                <input type="file" name="img_ay"><br>
                <label>/nbr</label><br>
                <input type="file" name="img_nbr"><br>
                <label>/nv</label><br>
                <input type="file" name="img_nv"><br>
                <label>/ot</label><br>
                <input type="file" name="img_ot"><br>
                <label>/th</label><br>
                <input type="file" name="img_th"><br>
                <label>/cb</label><br>
                <input type="file" name="img_cb"><br>
                <label>/f</label><br>
                <input type="file" name="img_f"><br>
                <label>/q</label><br>
                <input type="file" name="img_q"><br>
                <label>/lyr</label><br>
                <input type="file" name="img_lyr"><br>
                <label>/c</label><br>
                <input type="file" name="img_c"><br>
                <label>/m</label><br>
                <input type="file" name="img_m"><br>
                <label>/li</label><br>
                <input type="file" name="img_li"><br>
                <label>/rh</label><br>
                <input type="file" name="img_rh"><br>
                <label>/hyp</label><br>
                <input type="file" name="img_hyp"><br>
                <label>/e</label><br>
                <input type="file" name="img_e"><br>
                <label>/ex</label><br>
                <input type="file" name="img_ex"><br>
                <label>/p</label><br>
                <input type="file" name="img_p"><br>
                <label>/r</label><br>
                <input type="file" name="img_r"><br>
                <label>/a</label><br>
                <input type="file" name="img_a"><br>
                <label>/sx</label><br>
                <input type="file" name="img_sx"><br>
                <label>/nsx</label><br>
                <input type="file" name="img_nsx"><br>
                <label>/ns</label><br>
                <input type="file" name="img_ns"><br>
                <label>/pos</label><br>
                <input type="file" name="img_pos"><br>
                <label>/neg</label><br>
                <input type="file" name="img_neg"><br>
                <label>/neu</label><br>
                <input type="file" name="img_neu"><br>
                <label>/nh</label><br>
                <input type="file" name="img_nh"><br>
                <label>/npa</label><br>
                <input type="file" name="img_npa"><br>
                <label>/st</label><br>
                <input type="file" name="img_st"><br>
                <label>/mj</label><br>
                <input type="file" name="img_mj"><br>
                <label>/ma</label><br>
                <input type="file" name="img_ma"><br>
                <label>/hsrs</label><br>
                <input type="file" name="img_hsrs"><br>
                <label>/hs</label><br>
                <input type="file" name="img_hs"><br>
                <label>/dr</label><br>
                <input type="file" name="img_dr"><br>
                <label>/dkm</label><br>
                <input type="file" name="img_dkm"><br>
                <label>/cwh</label><br>
                <input type="file" name="img_cwh"><br>
                <label>/cr</label><br>
                <input type="file" name="img_cr"><br>
                <label>/cur</label><br>
                <input type="file" name="img_cur"><br>
                <label>/mhly</label><br>
                <input type="file" name="img_mhly"><br>
                <label>/msrs</label><br>
                <input type="file" name="img_msrs"><br>
                <label>/ms</label><br>
                <input type="file" name="img_ms"><br>
                <label>/non</label><br>
                <input type="file" name="img_non"><br>
                <label>/genq</label><br>
                <input type="file" name="img_genq"><br>
                <label>/jbt</label><br>
                <input type="file" name="img_jbt"><br>
                <input type="submit">
            </form>
        </p>
    </body>
</html>